.form {
    margin-left: 3%;
    border-collapse: collapse;
}
th{
    text-align: right;
}
td{
    width: 300px;
}
.footer{
    text-align: center;
    background-color: lightskyblue;
}
.bigField{
    height: 50px;
    width: 250px;
}
.bigField{
    text-align: left;
}
#state{
    width: 40px;
}
#phoneCode, #phoneFirstPart{
    width: 40px;
}
#phoneSecondPart{
    width: 80px;
}
#month, #day{
    width: 25px;
}
#year{
    width: 40px;
}